
.icon-note-beamed:before { content: '\e800'; } /* '' */
.icon-note:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */